.contact {
    display: flex;
    align-items: center;
    column-gap: 90px;
    padding: 150px 100px;
    margin: 0;
    
    &-map {
        iframe {
            height: 400px;
            width: 660px;
        }
    }

    h1 {
        font: var(--font-l);
        font-weight: 500;
    }
}

@media screen and (max-width: 600px) {
    .contact {
        display: flex;
        flex-direction: column;
        padding: 150px 20px;
        margin: 0;
        &-map {
            iframe {
                height: auto;
                width: 100%;
            }
        }
    }
}