.topnav {
    //overflow: hidden;
    //height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 100%;
    height: var(--navbar-height);
    z-index: var(--navbar-z-index);
    font: var(--font-m);
    padding: 10px;

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        &__links{
            position: relative;
            a {
                margin-right: 20px;
                color: var(--primary-color);
                text-decoration: none;
                transition: all 0.2s ease-in-out;
                border-bottom: 2px solid transparent;

                &:hover {
                    color: #a4a4a4;
                }

                &.active {
                    border-bottom: 2px solid var(--secondary-color);
                    padding-bottom: 3px;
                    color:var(--secondary-color);
                }
            }
        }
        &__info {
            color: var(--secondary-color);
        }
    }

    .mobile {
        display: none;
        i{
            align-items: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .topnav{
        .navbar{
            display: block;
            position: fixed;
            right: -300px;
            top: var(--navbar-height);
            height: 100vh;
            width: 300px;
            background: var(--overlay-bg);
            padding: 20px;
            transition: 0.3s ease-in-out;

            &.active{
                right: 0;
            }

            &__links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                a {
                    margin-bottom: 30px;
                }
            }
            &__info {
                color: var(--inverted-primary-color);
                font: var(--font-m);
            }
        }
        .mobile {
            display: flex;
            justify-content: flex-end;
            i{
                cursor: pointer;
            }
        }
    }
}