.topnav {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 100%;
    height: var(--navbar-height);
    z-index: var(--navbar-z-index);
    font: var(--font-m);
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;

    &.after_scroll{
        box-shadow: 0 1px 7px 0 #71717157;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        &__links{
            position: relative;
            a {
                margin-right: 20px;
                color: var(--primary-color);
                text-decoration: none;
                transition: all 0.2s ease-in-out;
                border-bottom: 2px solid transparent;

                &:hover {
                    color: #a4a4a4;
                }

                &.active {
                    border-bottom: 2px solid var(--secondary-color);
                    padding-bottom: 3px;
                    color:var(--secondary-color);
                }
            }
        }
    }
    &__contact {
        color: var(--secondary-color);
    }

    &__mobile {
        display: none;
        i{
            align-items: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .topnav{
        padding: 10px 30px;
        .navbar{
            display: block;
            position: fixed;
            right: -100vw;
            top: calc(var(--navbar-height) - 1px);
            height: 200px;
            width: 100vw;
            background: var(--bg-color);
            padding: 20px;
            transition: 0.3s ease-in-out;
            text-align: center;


            &.active{
                right: 0;
                box-shadow: 0 4px 5px 0 #71717157;
            }

            &__links {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                a {
                    margin-bottom: 30px;
                }
            }
        }
        //&__contact {
        //    color: var(--inverted-primary-color);
        //    font: var(--font-m);
        //}
        &__mobile {
            display: flex;
            justify-content: flex-end;
            i{
                cursor: pointer;
            }
        }
    }
}