.topnav {
    overflow: hidden;
    //height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 100%;
    z-index: var(--navbar-z-index);
    font-size: var(--font-size-m);
    font-family: var(--font-family-main);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;

    .navbar {
        padding: 0;

        a {
            margin-right: 20px;
            color: var(--primary-color);
            text-decoration: none;
            transition: all 0.3s ease;
            border-bottom: 2px solid transparent;

            &:hover {
                color: #a4a4a4;
            }

            .active {
                border-bottom: 2px solid #FFF;
                padding-bottom: 6px;
                color: #FFF;
            }
        }

        &__info {

        }
    }
}

.topnav .icon {
    display: none;
}


section,
header,
footer {
    background: var(--bg-color);
    border-bottom: 4px solid #337AB7;
    height: 600px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

section {
    opacity: 0.1;

    &:nth-child(even) {
        background: var(--secondary-bg-color);
    }

    &:first-child {
        margin-top: 60px;
    }

    .active {
        opacity: 1;
        transition: opacity 1.2s;
    }
}

header,
footer {
    height: 400px;
    background: var(--bg-color);
    color: var(--primary-color);
}

.scrollToTopBtn {
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    width: 48px;
    border-radius: 50%;

    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }
    .topnav ul {
        display: block
    }
    .topnav a.icon {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: fit-content;
        background-color: rgba(51, 122, 183, 0.53);
        padding-top: 70px;
    }
    .topnav.responsive a {
        display: block;
        margin: 20px 0;
    }
    .topnav.responsive a.icon {
        position: absolute;
        top: 0;
    }
    .topnav.responsive a.icon::after {
        content: "Меню";
    }
}

