.header {
    margin: calc(var(--navbar-height) + 70px) 95px 90px;
    height: 354px;
    background: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    //flex-wrap: wrap;

    img {
        width: 464px;
        height: 354px;
        margin-right: 25px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__text {
            h1 {
                font: var(--font-xl);
                font-weight: bold;

            }
        }

        &__btn {
            button {
                cursor: pointer;

                color: var(--inverted-primary-color);
                background: var(--btn-bg-color);
                text-align: center;
                font-size: var(--font-size-s);
                border: none;
                border-radius: 6px;
                padding: 15px 30px;
                font-weight: 700;
                line-height: 1.55;
                letter-spacing: 0.5px;

                &:hover {
                    background: var(--btn-bg-color-hover);
                }
            }
        }
    }
}